body {
    height: 250vh;
}

div {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border: 2px solid black;
    color: white;
    font-size: 24px;
}

#static {
    position: static;
}

#relative {
    position: relative;
    /* left: 50px;
    top: 50px; */
}

#absolute-parent {
    height: 400px;
    width: 400px;
    border: 10px solid black;
    position: relative;
}

#absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

#fixed {
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0px;
    right: 0px;
}

#sticky {
    position: sticky;
    top: 10px;
}

.flex-wrapper {
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;
}